@charset "utf-8";
/* CSS Document */


/*-- GENERALI --*/
body, html { height:100%; margin:0px; padding:0px;}
body { background:url(../img/fondo.jpg) repeat-y #373737; background-size:320px 480px; font-family: 'Istok Web', sans-serif; }
form { margin:0px; padding:0px;}
input, select, textarea {font-family: 'Istok Web', sans-serif;}
ul, li { list-style:none}

/*-- ALTO --*/
.alto { background-color:#595959; height:33px; position:absolute; width:100%; min-width:850px}
.sincronizza_bottone { float:right; background:url(../img/sincronizza.jpg) no-repeat; width:133px; text-align:center; height:33px;}
.sincronizza_bottone a { display:block; color:#FFFFFF; font-weight:700; text-decoration:none; padding-top:5px;text-shadow:#666666 1px 1px 1px; }
.sincronizza_bottone a:hover { color:#ffcc00; }
.sincronizza_testo { float:right; margin-right:0px; color:#ffcc00; font-size:12px;}
#sincronizza_quanti { float:right; margin-right:10px; color:#ffffff; padding-top:18px; font-size:12px; font-weight:bold;-webkit-animation: blink 0.7s infinite linear alternate;
  -webkit-font-smoothing: antialiased;}
#sincronizza_quanti a { color:#000000; font-size:11px; }

@-webkit-keyframes blink {
  0%     { opacity: 0 } 50% { opacity: 0 }
  50.01% { opacity: 1 } 100% { opacity: 1 }
}

/*-- BARRA LOGO E CERCA --*/
.barra_logo_cerca { height:71px; background:#000; position:absolute; margin-top:33px; width:100%; min-width:850px}
.logo { float:left}
.cerca_alto { background:url(../img/cerca_alto.png) no-repeat; width:405px; height:40px; margin-top:16px; float:right; margin-right:16px;}
.ricerca_alto { margin:0px; padding:0px; border:none; background:none; margin-left:33px; margin-top:8px; font-size:14px; color:#9d9fa4; width:250px;}
.ricerca_alto_submit { background:none; border:none; width:110px; text-align:center; color:#FFFFFF; font-size:17px; font-weight:700; text-shadow:#666666 1px 1px 1px; cursor:pointer}
.ricerca_alto_submit:hover { color:#000000}


/*-- BARRA MENU --*/
.menu { background:url(../img/fondo_menu.png) repeat-x top; height:80px; position:absolute; margin-top:104px; width:100%; min-width:850px}
.registrato { background:#333333; padding-left:10px; color:#ffffff; font-size:11px; position:absolute; margin-top:53px; display:none; z-index:54545445}
.registrato b { font-size:20px;}


.menu_alto_open { background:url(../img/ico_open_off.png) no-repeat top center; background-size:21px 25px; display:block}
.menu_alto_excl { background:url(../img/ico_exc_off.png) no-repeat top center; background-size:25px 25px; display:block}
.menu_alto_search { background:url(../img/ico_search_off.png) no-repeat top center; background-size:22px 25px; display:block}
.menu_alto_user { background:url(../img/ico_ute_off.png) no-repeat top center; background-size:28px 25px; display:block}
.menu_alto_sincro { background:url(../img/ico_sync_off.png) no-repeat top center; background-size:26px 25px; display:block}

#tabellone_menu .attivo a.menu_alto_open { background:url(../img/ico_open_on.png) no-repeat top center; background-size:21px 25px; display:block}
#tabellone_menu .attivo a.menu_alto_excl { background:url(../img/ico_exc_on.png) no-repeat top center; background-size:25px 25px; display:block}
#tabellone_menu .attivo a.menu_alto_search { background:url(../img/ico_search_on.png) no-repeat top center; background-size:22px 25px; display:block}
#tabellone_menu .attivo a.menu_alto_user { background:url(../img/ico_ute_on.png) no-repeat top center; background-size:28px 25px; display:block}
#tabellone_menu .attivo a.menu_alto_sincro { background:url(../img/ico_sync_on.png) no-repeat top center; background-size:26px 25px; display:block}

.categorie_hp { clear: both; color: #CCC; font-weight: bold; border-bottom: 1px #CCC solid; font-weight: bold; padding-left: 0px; padding-top: 20px; font-size: 15px; margin-left:10px; margin-right:10px }

.contenuti { position:absolute; width:100%; margin-top:185px;}
.contenuti_index { padding-top:170px;}
/*-- COLONNA DI SINISTRA --*/
.cerca_sx { background:url(../img/cerca_sx.png) no-repeat;  color:#FFFFFF; font-size:13px; }
.colonna_sx_cerca_scroller { padding-top:10px; padding-left:10px;}
.ricerca_sx { margin:0px; padding:0px; border:none; background:none; margin-left:33px; margin-top:8px; font-size:14px; color:#9d9fa4; width:110px;}
.ricerca_sx_submit { background:none; border:none; width:75px; text-align:center; color:#FFFFFF; font-size:17px; font-weight:700; text-shadow:#666666 1px 1px 1px; cursor:pointer;}
.ricerca_sx_submit:hover { color:#000000}
.select_vibram select, .select_vibram_gialla select { background: transparent; width:232px; padding:2px;  height: 30px; border:none; -webkit-appearance: none;color:#333333;text-shadow:#ffffff 1px 1px 1px; font-size:12px; font-weight:bold; cursor:pointer}
.select_vibram {width: 232px; height: 30px; overflow: hidden; background:url(../img/select.png) no-repeat right;-webkit-appearance: none; background-size:232px 30px}
.select_vibram_gialla {width: 232px; height: 30px; overflow: hidden; background:url(../img/select_gialla.jpg) no-repeat right !important;-webkit-appearance: none; background-size:232px 30px}
.cerca_sx_box_giallo { background: url(../img/cerca_x.png) no-repeat right #ffcc00; padding:3px; color:#705B27; float:left; border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px; margin-top:5px; margin-right:5px; font-size:12px; font-weight:bold;}
.cerca_sx_box_giallo:hover { background: url(../img/cerca_x.png) no-repeat right #ffffff;}
.cerca_sx_box_giallo a { padding-right:20px; display:block; color:#705b27; text-decoration:none; padding-left:5px;}
.cerca_sx_box_giallo:hover a { color:#333}

/*-- CONTENUTI CENTRALI --*/
.centrale { position:absolute; margin-top:53px;}
.colonna_sx { position:absolute; margin-top:53px; background:#333333; display:none; z-index:4554545454; overflow:auto}
#wrapper { position:absolute; z-index:1;width:100%;overflow:auto;}
#scroller { position:absolute; z-index:1;-webkit-tap-highlight-color:rgba(0,0,0,0);width:100%;padding:0;}
#wrapper ul { margin:0px; padding:0px; margin-right:0px; margin-left:10px;}
#wrapper li { background:#535353;  border-radius: 7px; -moz-border-radius: 7px; -webkit-border-radius: 7px; margin-bottom:10px; height:90px; list-style:none;}
#wrapper li.risultati_trovati { background:#000000; border-radius: 7px; -moz-border-radius: 7px; -webkit-border-radius: 7px; height:20px; padding-top:10px; color:#FFF; list-style:none; margin-top:10px}
#wrapper li.tipo_catalogo { border-radius: 7px; -moz-border-radius: 7px; -webkit-border-radius: 7px; height:25px; padding-top:5px; color:#FFF; list-style:none; margin-top:10px; padding-left:10px}


#wrapper li.risultati_trovati .ul_1 { float:left; list-style:none; margin-right:0px; margin-top:0px;}
#wrapper li.risultati_trovati .ul_1 li,#wrapper li.risultati_trovati .ul_2 li { background:none; list-style:none}
#wrapper li.risultati_trovati .ul_2 { float:right; list-style:none; font-size:10px; padding-top:0px; margin-top:-5px; margin-right:10px;}
#wrapper li.risultati_trovati .ul_1 li { padding-left:0px; padding-top:0px; color:#8d8d8d; font-weight:bold; font-size:10px; height:20px;}
#wrapper li.risultati_trovati .ul_2 li { float:left; list-style:none; padding-left:5px; height:15px;}
#wrapper li.risultati_trovati .ul_2 li a { display:block; cursor:pointer; margin-top:3px;}
.li_normale_foto { float:left; width:56px; height:71px; border-radius:7px; -moz-border-radius: 7px; -webkit-border-radius: 7px; background:#FFFFFF; text-align:center; margin-top:10px; margin-left:10px; display: inline-block; vertical-align:middle}
.li_normale_testo { float:left;}
.li_normale_testo_titolo { margin:10px; color:#FFF; font-weight:bold; margin-bottom:10px; font-size:12px; margin-bottom:5px; line-height:11px;}
.link_scheda { background:url(../img/detail.png) no-repeat; background-size:24px 24px; width:24px; height:24px; float:right; margin-top:35px; margin-right:10px;}
.link_scheda a { width:50px; height:50px; text-align:center; text-decoration:none; display:block;}
.link_scheda a:hover { color:#000000 }
.flag_1 { background:url(../img/flag_1.jpg) no-repeat ; background-size:20px 13px; padding-left:30px !important;}
.flag_2 { background:url(../img/flag_2.jpg) no-repeat ; background-size:20px 13px; padding-left:30px !important;}
.flag_3 { background:url(../img/flag_3.jpg) no-repeat ; background-size:20px 13px; padding-left:30px !important;}
.flag_4 { background:url(../img/flag_4.jpg) no-repeat ; background-size:20px 13px; padding-left:30px !important;}
.li_dettaglio { font-size:10px; color:#aaaaaa; padding-left:10px;}
.li_dettaglio b { font-size:10px; color:#ffffff;}
.li_dettaglio_interno { font-size:13px; color:#aaaaaa; padding-left:0px; padding-bottom:10px;}
.li_dettaglio_interno b { font-size:13px; color:#ffffff;}
.ul_2 li a.asc { background: url(../img/freccia_giu.png) no-repeat right #535353; padding:3px; padding-left:15px; padding-right:25px; color:#ffffff; border-radius: 8px; -moz-border-radius: 8px; -webkit-border-radius: 8px; font-weight:bold; margin-top:0px !important;}
.ul_2 li a.desc { background: url(../img/freccia_su.png) no-repeat right #535353; padding:3px; padding-left:15px; padding-right:25px; color:#ffffff; border-radius: 8px; -moz-border-radius: 8px; -webkit-border-radius: 8px; font-weight:bold; margin-top:0px !important;}
.singola_ricerca a { padding:3px; padding-left:10px; padding-right:10px; font-size:17px; text-decoration:none; background-color:#000000; color:#cccccc; border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px; font-weight:bold; margin-top:0px; float:left; margin-left:10px; margin-top:10px; }
.singola_ricerca a:hover { color:#000; background-color:#ffcc00}



/*scheda interna*/
.scheda_interna {}
.scheda_interna_barra_alta {  background:url(../img/fondino_scheda.jpg) repeat-x; height:35px; text-align:center;}
.scheda_interna_barra_alta h1 { margin:0px; padding:0px; text-align:center; color:#FFFFFF; font-size:20px; font-weight:700; text-shadow:#666666 1px 1px 1px; padding-top:3px;}
.colonna_dx {position:absolute; right:0px; width:800px; margin-right:-752px; z-index:12;}
#wrapper_colonna { z-index:13; width:100%; overflow:auto; }
#scroller_colonna { position:absolute; z-index:13; width:800px; color:#847F79;height:532px;background:url(../img/fondo_colonna.png) no-repeat 0px 50%; padding-left:50px; padding-right:400px;}
#scroller_colonna h1 { margin:0px; padding:0px; color:#FFFFFF; font-size:17px; font-weight:700; text-shadow:#666666 1px 1px 1px; padding-bottom:10px;}

.colonna_sx_imma {position:absolute; left:-800px; width:848px; z-index:13;}
#wrapper_colonna_sx { z-index:14; width:100%; overflow:auto; }
#scroller_colonna_sx { position:absolute; z-index:14;width:150px; color:#847F79;background:url(../img/fondo_colonna_imma.png) no-repeat right 50%; padding-left:820px;}

.colori h2 { margin:0px; padding:0px; color:#FFFFFF; font-size:14px; font-weight:700; text-shadow:#666666 1px 1px 1px; }
.colori .singolo_colore { float:left; font-size:11px; text-align:center; width:60px; margin-right:10px; margin-top:10px; color:#CCCCCC;}
.colori .singolo_colore img { margin-bottom:5px; border:1px solid #999}

.singola_foto { margin-right:15px; margin-top:15px;}
/*iScroll*/
.myScrollbarV {
	position:absolute;	z-index:100;width:8px;bottom:7px;top:2px;right:5px; background-color:#5d5d5d;border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px;
}

.myScrollbarV > div {
	position:absolute;	z-index:100;	width:100%;
	/* The following is probably what you want to customize */
	background:-webkit-gradient(linear, 0 0, 100% 0, from(#fff), to(#b3b3b3));
	background-image:-moz-linear-gradient(top, #f00, #900);
	background-image:-o-linear-gradient(top, #f00, #900);
	border:none;
	-webkit-background-clip:padding-box;
	-webkit-box-sizing:border-box;
	-webkit-border-radius:4px;
	-webkit-box-shadow:inset 1px 1px 0 rgba(255,255,255,0.5);
}

.loading { padding:3px; background-color:#000000;border-radius: 7px; -moz-border-radius: 7px; -webkit-border-radius: 7px; float:left; margin-top:3px; margin-left:3px}

#dettaglio_prodotto { position:absolute; z-index:980809909; background-color:#ffffff;}
.ui-autocomplete-loading { background: white url('../img/ajax-loader_cerca.gif') right center no-repeat; }
.centrale h1 { margin:0px; padding:0px; font-size:35px; color:#CCCCCC; padding-left:20px; padding-top:20px;}
.campo_modulo { color:#FFFFFF; padding-left:20px; padding-top:20px;}
.campo_modulo_in { margin:0 auto}
.campo_modulo_in input {  padding:2px; font-size:13px; background:url(../img/fondo_input.png) no-repeat; background-size:200px 40px; width:200px; height:40px; border:none; padding-left:10px;}
.campo_modulo_submit { background:url(../img/submit.png) no-repeat; background-size:206px 59px; height:59px; width:206px; margin:0 auto; margin-top:5px;}
.campo_modulo_submit input { width:150px; text-align:center; background:none; border:none;text-shadow:#666666 1px 1px 1px; color:#FFFFFF; font-size:20px; font-weight:bold; padding-top:7px; cursor:pointer}
.campo_modulo_sotto { color:#CCCCCC; font-size:13px; padding-top:20px; }

#singolo_prodotto  { position:absolute;display:none; z-index:980809909; background-color:#ffffff; overflow:hidden; /*test123*/}
.serve_aiuto { background:url(../img/aiuto.png) no-repeat; padding-left:45px; height:50px; padding-top:7px; font-weight:bold; font-size:17px; margin-left:37px; }
.serve_aiuto_index { background:url(../img/aiuto.png) no-repeat; background-size:20px 18px; padding-left:25px; height:30px; padding-top:0px; font-weight:bold; font-size:13px; margin-left:55px; margin:0 auto; margin-top:30px; width:110px; }
.serve_aiuto a, .serve_aiuto_index a { color:#FFDA4F; text-decoration:underline}
.serve_aiuto a:hover, .serve_aiuto_index a:hover { color:#FFDA4F; text-decoration:none}
#serve_aiuto, #sincronizza_div, .sotto_color { padding:10px; color:#FFFFFF; font-size:13px;}
#serve_aiuto h1, #sincronizza_div h1, .sotto_color h1 { margin:0px; padding:0px; color:#FFDA4F; font-size:14px; margin-bottom:10px; padding-bottom:5px; border-bottom:1px solid #FFDA4F}
#serve_aiuto a, #sincronizza_div a, .sotto_color a, .download_pdf, .registrato a { background:#ffcc00; padding:3px; padding-left:15px; padding-right:15px; color:#333333; border-radius: 8px; -moz-border-radius: 8px; -webkit-border-radius: 8px; font-weight:bold; margin-top:10px !important; text-decoration:none}
#serve_aiuto a:hover, #sincronizza_div a:hover, .sotto_color a:hover, .download_pdf:hover, .registrato a:hover {  background:#535353}
#nascondi_loading a { font-size:17px}


.autocompletamento { position:absolute; z-index:25623;}
.autocompletamento ul { margin:0px; padding:0px; list-style:none; background-color:#FFFFFF; margin-left:30px; padding:10px; padding-top:0px;border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; padding-top:10px;}
.autocompletamento ul li { border-bottom:1px dotted #CCC; }
.autocompletamento ul li a { font-size:12px; color:#999; text-decoration:none;display:block; padding:5px; padding-right:10px; padding-left:10px;border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; }
.autocompletamento ul li a:hover { background-color:#FFcc00} 
.app_registrata { font-size:14px; color:#FFFFFF; padding-top:35px; padding-bottom:10px; line-height:16px;}
.app_registrata b { color:#F0AE0D; font-weight:normal}
#form_first { text-align:center}
.barra_bordo { border:1px solid #F0AE0D; height:10px; width:100px; padding:2px;border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; float:left;}
.barra_giro { float:left; width:40px; padding-left:5px;}
#barra_loading { background-color:#F0AE0D; height:10px; width:1px;border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px;}
#valore_numerico { float:left; color:#FFFFFF; padding:5px; font-size:11px; font-weight:bold; padding-top:2px; padding-left:0px;;}

.sync_riga { background:url(../img/syncro.png) no-repeat 10px 10px; padding-left:50px; color:#FFF; height:35px; padding-top:11px; font-size:11px; line-height:12px;}
.sync_colore { color:#DFAC00;}

#wrapper li.elenco_sync { height:43px; margin-top:10px}
.descrizione_prodotto ul { margin:0px; padding:0px; list-style:none;}
.cambio_utente { padding-top:20px}
.cambio_utente a { color:#CCC; text-decoration:none; font-size:11px;}


/* QUI IPHONE!!*/
#phone_alto { background:url(../img/alto_fondo_v2.jpg) repeat-x; background-size:100% 53px; height:53px; position:absolute; width:100% }
.phone_alto_indietro { position:absolute; margin-left:10px; margin-top:13px;}
.phone_alto_logo { position:absolute; width:60px; left:0px; right:0px; margin-left:auto; margin-right:auto; margin-top:5px;}
#phone_titolo { margin:5px 0px 0px 0px; padding:0px; width:100%; }
#phone_titolo h1 { font-size:22px; margin:0px; padding:0px; padding-left:10px; color:#CCCCCC; text-shadow:#666666 1px 1px 1px; padding-top:5px;}
#phone_titolo h1 img { margin:0px; padding:0px; vertical-align: -6px; margin-right: 6px;}
#phone_menu_basso { background:url(../img/basso_fondo.jpg) repeat-x; background-size:100% 45px; height:45px; position:absolute; width:100%; bottom:0px;}
#phone_risultati_ricerca { position:absolute; margin-top:58px; z-index:544554; margin-left:10px;}
#interno_prodotto { position:absolute; display:none; margin-top:53px;z-index:544555; overflow:auto; background-color:#333333 }
#interno_prodotto h1 { margin:0px; padding:0px; font-size:20px; color:#FFFFFF}
.ricerca_div_spazio { margin-top:8px;}

.interno_dettaglio_nero { background-color:#111111; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; margin:10px; padding:10px;}
.registrato a { font-size:17px;}


.tipo_exclusive { background:#000000 !important;}
.tipo_open { background: #000000 !important;}
/*
.tipo_exclusive { background:url(../img/ico_exc_off.png) no-repeat #000000 !important; background-size:15px 12px; padding-left:20px;}
.tipo_open { background:url(../img/ico_open_off.png) no-repeat #000000 !important; background-size:15px 12px; padding-left:20px;}*/



#loading_phailed {padding:40px; color:#FFFFFF;}
#loading_phailed a {background:#ffcc00; padding:3px; padding-left:15px; padding-right:15px; color:#333333; border-radius: 8px; -moz-border-radius: 8px; -webkit-border-radius: 8px; font-weight:bold; margin-top:10px !important; text-decoration:none}
#loading_phailed a:hover {background:#535353}

.pdf_download {  background:#ffcc00; padding:3px; padding-left:6px; padding-right:6px; color:#333333; border-radius: 8px; -moz-border-radius: 8px; -webkit-border-radius: 8px; font-weight:bold;  text-decoration:none; margin-top:0px !important;display:block; cursor:pointer;}


.button_ricerca_off a { margin-left:10px; padding:3px; padding-left:15px; padding-right:15px; font-size:16px; text-decoration:none; background-color:#444444; color:#cccccc; border-radius: 8px; -moz-border-radius: 8px; -webkit-border-radius: 8px; font-weight:bold; margin-top:19px; float:right; margin-right:16px;}
.button_ricerca_off a:hover { color:#cccccc; background-color:#444444}
.button_ricerca_on a { margin-left:10px; padding:3px; padding-left:15px; padding-right:15px; font-size:16px; text-decoration:none; background-color:#ffcc00; color:#000; border-radius: 8px; -moz-border-radius: 8px; -webkit-border-radius: 8px; font-weight:bold; margin-top:19px; float:right; margin-right:16px;}
.button_ricerca_on a:hover { color:#000; background-color:#ffcc00}

.button_ricerca_off { margin-left:10px; padding:3px; padding-left:5px; padding-right:5px; font-size:16px; text-decoration:none; background-color:#444444; color:#cccccc; border-radius: 8px; -moz-border-radius: 8px; -webkit-border-radius: 8px; margin-top:0px; font-weight:bold;   text-decoration:none}

.button_ricerca_on { margin-left:10px; padding:3px; padding-left:5px; padding-right:5px; font-size:16px; text-decoration:none; background-color:#ffcc00; color:#000; border-radius: 8px; -moz-border-radius: 8px; -webkit-border-radius: 8px; font-weight:bold; margin-top:0px  text-decoration:none}


.top_pagina_risultati {background:#535353;}
.top_pagina_risultati li {background:#535353;}